<div class="text-center">
    <h1 class="display-4" style="color: aqua;">Mi Mascota Favorita</h1>
    <h4>Mi mascota favorita es una ardilla y se llama Dan, su pelaje es de color gris y es muy juguetón ya que molesta mucho a los gatos.</h4>

    <img src="~/img/ardi.jpg" alt="Dan la ardilla" width="500" height="400">

    <article style="text-align: left; max-width: 600px; margin: auto;">
        <h2>Sobre Dan</h2>
        <p>Una de las cosas que más me gusta de Dan es cómo interactúa con otros animales. Tiene una forma muy divertida de molestar a los gatos, y siempre está buscando formas de jugar con ellos. Aunque a veces puede ser un poco traviesa, su alegría y energía siempre iluminan el ambiente.</p>
        <p>Dan también es muy inteligente y ha aprendido varios trucos, como dar la pata y hacer saltos. Su presencia ha hecho que mi vida sea mucho más alegre y llena de diversión.</p>
    </article>
    
</div>
<div class="text-center">
    <h1 class="display-4" style="color: aqua;">Mi Mascota Favorita</h1>
    <h4>Mi mascota favorita es una ardilla y se llama Dan, su pelaje es de color gris y es muy juguetón ya que molesta mucho a los gatos.</h4>

    <img src="~/img/ardi.jpg" alt="Dan la ardilla" width="500" height="400">

    <article style="text-align: left; max-width: 600px; margin: auto;">
        <h2>Sobre Dan</h2>
        <p>Una de las cosas que más me gusta de Dan es cómo interactúa con otros animales. Tiene una forma muy divertida de molestar a los gatos, y siempre está buscando formas de jugar con ellos. Aunque a veces puede ser un poco traviesa, su alegría y energía siempre iluminan el ambiente.</p>
        <p>Dan también es muy inteligente y ha aprendido varios trucos, como dar la pata y hacer saltos. Su presencia ha hecho que mi vida sea mucho más alegre y llena de diversión.</p>
    </article>

    <h2>Un Día viaje por Abancay</h2>   

    <article style="text-align: left; max-width: 600px; margin: auto; margin-top: 30px;">
        <p>Uno de los lugares favoritos de Dan son los parques o los bosques. Cada vez que vamos allí, se emociona mucho y corre por todo el lugar. Le encanta trepar árboles y explorar cada rincón. A veces, incluso juega con otros animales en el bosque, y es impresionante ver cómo se relaciona con ellos.</p>
        <p>En nuestro último paseo al parque, Dan tuvo una de sus mejores aventuras. Corrió alrededor, jugó con una pelota, y tuvo una gran cantidad de diversión. Me encanta ver la felicidad en su rostro cuando está en su lugar favorito.</p>
        
        <img src="~/img/viaje.jpg" alt="sin imagen" width="500" height="400" style="margin-top: 20px;">
    </article>
</div>